<div class="skill-card">
  <div class="skill-header">
    <h3 class="skill-name">{{ skillName }}</h3>
    <div class="skill-metrics">
      <div class="proficiency" *ngIf="proficiency > 0">
        <div class="proficiency-label">{{ getProficiencyLabel() }}</div>
        <div class="proficiency-bars">
          <span
            *ngFor="let i of [1, 2, 3, 4, 5]"
            class="proficiency-bar"
            [class.filled]="i <= proficiency"
          ></span>
        </div>
      </div>
      <div class="experience" *ngIf="yearsOfExperience > 0">
        <span
          >{{ yearsOfExperience }}+
          {{ yearsOfExperience === 1 ? "year" : "years" }}</span
        >
      </div>
    </div>
  </div>

  <div class="skill-body">
    <h4 *ngIf="references && references.length > 0">
      Where I've used this skill:
    </h4>
    <ul class="references">
      <li *ngFor="let ref of references" class="reference-item">
        <div class="reference-title">
          <strong>{{ ref.projectTitle }}</strong>
          <span class="reference-type">{{ ref.projectType }}</span>
        </div>
        <div class="reference-details" *ngIf="ref.institution">
          <span>{{ ref.institution }}</span>
        </div>
        <div class="reference-date" *ngIf="ref.startDate">
          {{ ref.startDate }}
          <span *ngIf="ref.endDate">- {{ ref.endDate }}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
